<template>
  <div class="container">
    <div class="table">
      <div class="table__head">
        <div class="tr"></div>
        <div class="tr">id</div>
        <div class="tr"></div>
        <div class="tr">username</div>
        <div class="tr">emai</div>
        <div class="tr">website</div>
        <div class="tr"></div>
      </div>
      <div class="table__body">
        <div class="table__body-item" v-for="(item, i) in tableInfo" :key="i">
          <div class="tr">
            <input
              class="checkbox"
              type="checkbox"
              :name="item.name"
              v-model="item.checked"
              @click="checkCheckbox"
              :id="item.name"
            />
          </div>
          <div class="tr">{{ item.id }}</div>
          <div class="tr">
            <router-link :to="`/user/${item.id}`">Подробнее</router-link>
          </div>
          <div class="tr">{{ item.name }}</div>
          <div class="tr">{{ item.email }}</div>
          <div class="tr">{{ item.website }}</div>
          <div class="tr">
            <button @click="closeItem(i)">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      tableInfo: [],
    };
  },
  mounted() {
    axios
      .get("https://jsonplaceholder.typicode.com/users")
      .then((response) => (this.tableInfo = response.data));
  },
  methods: {
    closeItem(i) {
      this.tableInfo.splice(i, 1);
    },
    checkCheckbox() {
      const checkArray = document.querySelectorAll(".checkbox");
      // let arr = checkArray.filter((item) => item.checked);
      // console.log(arr, 1212);
      const arrayF = [];
      checkArray.forEach((element) => {
        if (element.checked) {
          arrayF.push(element);
        }
      });
      arrayF.forEach((item) => {
        if (arrayF.length === 1) {
          item.disabled = "disabled";
        } else {
          item.disabled = "";
        }
      });
    },
  },
};
</script>

<style lang="scss">
body {
  margin: 100px 0 0;
  min-height: 100%;
  background: #7989ff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.table {
  margin: 0 auto;
  background: #fff;
  .tr {
    border: 1px solid #000;
    min-width: 50px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(7) {
      width: 60px;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      width: 180px;
    }
  }

  &__head {
    display: flex;

    .tr {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &__body {
    &-item {
      display: flex;

      input {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      button {
        background: #ce5252;
        color: #fff;
        border-color: #ce5252;
        border-radius: 5px;
        padding: 6px 8px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #fff;
          color: #ce5252;
        }
      }
    }
  }
}
</style>

